<button (click)="getTheProducts()">Click Me</button>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>title</th>
        <th>price</th>
        <th>description</th>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Images</th>
        <th rowspan="3">More Images</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of products; let i=index;">
        <td>{{i + 1 }}</td>
        <td>{{data.title}}</td>
        <td>{{data.price}}</td>
        <td>{{data.description}}</td>
        <td>{{data.category.id}}</td>
        <td>{{data.category.name}}</td>
        <td><img [src]='data.category.image'></td>
        <td class="d-flex"><img [src]="data.images[0]"><img [src]="data.images[1]"><img [src]="data.images[2]"></td>




      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>